/* sdmeyers.github.io main scss file */
/* resets */
/* @group Reset */
/* Global Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5isms */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* @end */
/*---------------------------------------------------------*/
/* @ Group Global Selectors */
html {
  font-size: 16px;
  /* Set's base font size for rems */ }

body {
  background-color: #FFFFFC;
  font-family: 'Varela', sans-serif;
  width: 90%;
  margin: 5%; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 2rem; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  font-weight: 400; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 400; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: .5em; }

pre, code {
  font-family: 'PT Mono', monospace; }

code {
  background-color: #DDF; }

pre {
  width: 100%;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem; }

blockquote {
  margin: 9px 72px 9px 36px;
  padding: 18px 72px 18px 72px;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  color: #633;
  background-image: url(/images/quote.svg);
  background-repeat: no-repeat; }

ul, ol {
  margin-left: 1.5em; }

li {
  font-size: 1em;
  line-height: 1.5;
  margin: .5em; }

a {
  color: #006;
  text-decoration: none; }

a:visited {
  color: #006; }

a:hover {
  color: #900; }

table {
  font-size: inherit;
  font: 100%; }

figure {
  margin: 18px;
  padding: 18px;
  text-align: center;
  background-color: #EEE; }

figcaption {
  font-family: 'Roboto Slab', serif;
  font-size: .9em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* @end */
/* @group Header */
header {
  padding: 18px;
  border: 1px #000 solid;
  background: #FFF;
  min-height: 100px; }

h1.sitename {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3.5rem; }

h2.slogan {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 1.2rem;
  margin-left: 18px;
  padding-left: 2rem; }

#logo {
  position: relative;
  margin-right: 18px;
  float: left; }

/* @end */
/*---------------------------------------------------------*/
/* @group Navbar */
#navbar {
  width: 100%;
  height: 100%;
  background: #000; }

#navbar nav {
  padding: 9px; }

.navitem {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 3px 9px;
  margin-left: 2%;
  background: #222;
  border: #444 1px solid;
  border-radius: 3px; }

.navitem a {
  color: #FFF;
  text-decoration: none; }

.navitem a:visited {
  color: #FFF; }

.navitem a:hover {
  color: #F99; }

/* @end */
/*---------------------------------------------------------*/
/* @group Sidebar */
#sidebar {
  position: relative;
  width: 19%;
  min-height: 100%;
  float: right;
  overflow: auto;
  padding: 3%;
  border-left: 1px #CCD solid; }

/* @end */
/*---------------------------------------------------------*/
/* @group Footer */
#copyright {
  font-size: .6rem;
  text-align: center; }

footer {
  color: #666;
  background: #000;
  padding: 18px; }

/* @end */
/*---------------------------------------------------------*/
/* section ids */
#main {
  border: 1px #000 solid;
  background: #FFF;
  height: 100%; }

#content {
  width: 69%;
  padding: 3%; }

#content_book {
  padding: 3%; }

#booknav {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding: 12px 0px; }

/* Classes */
.clear {
  clear: both; }

.meta {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 100;
  color: #666; }

.listhead {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: -9px;
  border-bottom: #CCD 1px solid; }

/* @end */

/*# sourceMappingURL=main.css.map */
