/* @group Header */
header
{
	padding: 18px;
	border: 1px #000 solid;
	background: #FFF;
	min-height: 100px;
}

h1.sitename
{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
}

h2.slogan
{
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 1.2rem;
	margin-left: 18px;
	padding-left: 2rem;
}

#logo
{
	position: relative;
	margin-right: 18px;
	float: left;
}



/* @end */
/*---------------------------------------------------------*/
/* @group Navbar */
#navbar
{
	width: 100%;
	height: 100%;
	background: #000;
}

#navbar nav { padding: 9px; }

.navitem
{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 3px 9px;
	margin-left: 2%;
	background: #222;
	border: #444 1px solid;
	border-radius: 3px;
}

.navitem a
{
	color: #FFF;
	text-decoration: none;
}

.navitem a:visited { color: #FFF; }
.navitem a:hover { color: #F99; }

/* @end */
/*---------------------------------------------------------*/
/* @group Sidebar */
#sidebar
{
	position: relative;
	width: 19%;
	min-height: 100%;
	float: right;
	overflow: auto;
	padding: 3%;
	border-left: 1px #CCD solid;
}

/* @end */
/*---------------------------------------------------------*/
/* @group Footer */
#copyright
{
	font-size: .6rem;
	text-align: center;
}

footer
{
	color: #666;
	background: #000;
	padding: 18px;
}

/* @end */
/*---------------------------------------------------------*/
/* section ids */
#main
{
	border: 1px #000 solid;
	background: #FFF;
	height: 100%;
}

#content
{
	width:69%;
	padding: 3%;
}

#content_book
{
	padding: 3%;
}

#booknav
{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1rem;
	padding: 12px 0px;
}
